# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.class
*.cmi
*.cmx

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
*.succinct
*.graph
*.csv
*.xlsx
*.sw*
.DS_STORE

.idea/
.idea_modules/

project/target/
project/project/
target/

# local neo4j database
external/neo4j*/data/

# experiment traces
*latency*txt*

data/

# CMake
**/CMakeFiles
**/CMakeCache.txt
*/bin/
